<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">AnswerIt!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
            {{#if user.picture}}
            <img src="{{user.picture}}">
            {{else}}
            <img src="{{user.gravatar}}">
            {{/if}}
            {{#if user.name}}
            {{user.name}}
            {{else}}
            {{user.email}}
            {{/if}}
            <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/account">My Account</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        {{else}}
        <li class="{{#ifeq title 'Log in'}}active{{/ifeq}}"><a href="/login">Log in</a></li>
        <li class="{{#ifeq title 'Sign up'}}active{{/ifeq}}"><a href="/signup">Sign up</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<div class="row">
  <div class="col-xs-6">
    <div class="input-group">
      <span class="input-group-btn">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search questions...">
    </div><!-- /input-group -->
  </div>
  <div class="col-lg-6">
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="#">English</a></li>
      <li role="presentation"><a href="#">नेपाली</a></li>
      <li role="presentation"><a href="#">हिन्दी</a></li>
    </ul>
  </div>
</div>
</div>