<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">EmpowerUs</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
            {{#if user.picture}}
            <img src="{{user.picture}}">
            {{else}}
            <img src="{{user.gravatar}}">
            {{/if}}
            {{#if user.name}}
            {{user.name}}
            {{else}}
            {{user.email}}
            {{/if}}
            <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/account">My Account</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        {{else}}
        <li class="{{#ifeq title 'Log in'}}active{{/ifeq}}"><a href="/login">Log in</a></li>
        <li class="{{#ifeq title 'Sign up'}}active{{/ifeq}}"><a href="/signup">Sign up</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<div class="row">
  <div class="col-xs-4 col-md-2">
    <div class="input-group">
      <span class="input-group-btn">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </span>
      <form action="/search" method=GET >
        <input type="text" class="form-control" name='q' placeholder="Search questions...">
      </form>
    </div><!-- /input-group -->
  </div>
  <div class="col-xs-4 col-sm-6 col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </span>
      {{!-- <input type="text" class="form-control" placeholder="Ask another question..."> --}}
    </div><!-- /input-group -->
  </div>
  <div class="col-md-4 col-lg-4">
    {{!-- <ul class="nav nav-pills pull-right translation-links">
      {{#each languages.primary}}
      <li role="presentation"{{#if active}} class="active"{{/if}}>
        <a href="#" data-lang="{{language}}">{{language}} {{active}}</a>
      </li>
      {{/each}}
    </ul> --}}

    <!-- Use CSS to replace link text with flag icons -->
<ul class="translation-links nav nav-pills pull-right">
  <li role="presentation" {{#if active}} class="active"{{/if}}>
    <a href="#" class="nepali" data-lang="Nepali">नेपाली</a>
  </li>
  <li role="presentation"{{#if active}} class="active"{{/if}}>
    <a href="#" class="english" data-lang="English">English</a>
  </li>
  
</ul>

<!-- Code provided by Google -->
<div id="google_translate_element" style="display:none;"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
  }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>

<!-- Flag click handler -->
<script type="text/javascript">
    $('.translation-links a').click(function() {
      var lang = $(this).data('lang');
      $(this).parent().parent().find("li").removeClass("active");
      $(this).parent().addClass("active");
      
      var $frame = $('.goog-te-menu-frame:first');
      if (!$frame.size()) {
        alert("Error: Could not find Google translate frame.");
        return false;
      }
      $frame.contents().find('.goog-te-menu2-item span.text:contains('+lang+')').get(0).click();
      return false;
    });
</script>

  </div>
</div>
</div>
