<div class="container">
  {{#if messages.success}}
  <div role="alert" class="alert alert-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}
  {{#if messages.error}}
  <div role="alert" class="alert alert-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}
  {{#if messages.info}}
  <div role="alert" class="alert alert-info">
    {{#each messages.info}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}

  <div class="row">
    <div class="col-sm-12 center">
      <h1>Ask a question</h1>
      <div class="row center">
        <div class="col-md-6 col-sm-12 center">
          <textarea rows="1" id="homepage-question-form" type="textarea" class="form-control" placeholder="Add a question here.."></textarea>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div> 
</div>

<div class="container">
  <div class="row row-block-nav">
    {{#each skills}}
      <div class="col-xs-4">
        <a href="question?id={{id}}">
          <div class="panel panel-big-display center panel-home">
            {{skill}}
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>
