<div class="container">
  {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div role="alert" class="alert alert-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  <div class="row">
    <div class="col-md-12">
      <div class="small center">You asked..</div>
      <h2 class="center">How to garden</h2>
      <div class="date center">Posted: 12th July 2014</div>
      <hr>
      <div class="details center">
      <p>{{question}}</p>
      <p>Want to <a href="">add a translation</a>?</p>
      </div>
      <hr>
      <div class="answers center">
        {{#if answers}}
          {{#each answers}}
            <div class="answer center">
              <p>{{answer}}</p>
              <p>Want to <a href="">add a translation</a>?</p>
            </div>
          {{/each}}
        {{else}}
          <p>There are no answers yet. Want to <a href="">add an answer</a>?</p>
        {{/if}}
      </div>
      <hr>

      <h3>Explore more lessons</h3>
      <div class="row">
        {{#each relateds}}
          <div class="col-xs-4">
            <a href="question?id={{id}}">
              <div class="panel panel-big-display center">
                {{skill}}
              </div>
            </a>
          </div>
        {{/each}}
      </div> 
    </div>
  </div>
</div>
